<!DOCTYPE html>

<div class="title">
    <h1 id="h1">{{title}}</h1>
    <h3 id="h3">{{subtitle}}</h3>
</div>

<body>
    <div id="wholepage">
        <div class="content">
            <p>
                McAfee (as defined below) and Company (as identified in the Grant Letter) agree to the terms of this
                Agreement
                (as defined below).
                By downloading, installing, copying, accessing or using this software, Company agrees to this Agreement.
                If
                Company is accepting this Agreement on behalf
                of another person or other legal entity, Company represents and warrants that Company has full authority
                to bind
                that person or legal entity to this
                Agreement. Company must ensure that End Users (as defined below) comply with this Agreement and is
                responsible
                for End Users’ compliance with or
                breach of this Agreement.
                If Company does not agree to this Agreement, Company must:
                • not download, install, copy, access or use the Software; and
                • Promptly return the Software and proof of entitlement to the party from whom Company acquired the
                Software.
                Capitalized terms used in this Agreement have the meaning assigned to them in Section 15.1 or elsewhere
                in this
                Agreement. The interpretation clause in
                Section 15.2 sets out the rules of interpretation for this Agreement.<br>
                <br>
            </p>

            <h2> 1. LICENSE GRANT; PROPRIETARY RIGHTS</h2>
            <p>
                1.1 Right to use the Software: Subject to the terms and conditions of this Agreement, McAfee grants
                Company a
                non-exclusive, non-transferable
                right to use the Software listed in the Grant Letter solely for Company’s own internal business
                operations. In
                this Agreement, to use the
                Software includes to download, install and access the Software. Company is not granted rights to Updates
                and
                Upgrades unless Company
                has purchased Support (or a service subscription granting rights to Updates and Upgrades).
                <br>
                <br>
            </p>
            <h2> 2. COPY AND USE TERMS</h2>
            <p>
                2.1 Product Entitlement: The use of the Software depends on the licenses purchased (e.g. nodes) and is
                subject
                to the Product Entitlement
                definitions.
                2.2 Multiple platforms/bundles: If the Software supports multiple platforms or if Company receives the
                Software
                bundled with other software,
                the total number of devices on which all versions of the Software is installed may not exceed Company’s
                Product
                Entitlement. Certain Software
                licensed as part of a suite-based McAfee Product may also require the purchase of a separate McAfee
                server
                license to use the Software on
                certain types of servers, in each case as specified in the Documentation.
                2.3 Term: The license is effective for the limited time specified in in the Grant Letter. If no term is
                specified, the licenses will be perpetual.
                2.4 Copies: Company may copy the Software as reasonably necessary for back-up, archival or disaster
                recovery
                purposes.
                2.5 Affiliates, Managing Parties: Company may permit use of the Software in accordance with this
                Agreement:
                (a) by an Affiliate;
                (b) by a third party with which Company enters into a contract to manage Company’s information
                technology
                resources (Managing
                Party) if:
                (i) the Managing Party only uses the Software for Company’s internal operations and not for the benefit
                of
                another third party
                or itself;
                (ii) the Managing Party agrees to comply with the terms and conditions of this Agreement; and
                (iii) Company provides McAfee with written notice that a Managing Party will be using the Software on
                Company’s
                behalf.
                Company is responsible and fully liable for each Affiliates’ and Managing Party’s compliance with or
                breach of
                this Agreement.
                2.6 General restrictions: Company may not, and may not cause or allow any third party to:
                (a) decompile, disassemble or reverse-engineer the Software, or create or recreate the source code for
                the
                Software;
                (b) remove, erase, obscure or tamper with any copyright or any other product identification or
                proprietary
                rights notices, seal or
                instructional label printed or stamped on, affixed to, or encoded or recorded in or on any Software or
                Documentation; or fail to preserve
                all copyright and other proprietary notices in all copies Company makes of the Software and
                Documentation;
                (c) lease, lend or use the Software for timesharing or service bureau purposes; sell, market, license,
                sublicense, distribute or otherwise
                grant to any person or entity any right to use the Software except to the extent expressly permitted in
                this
                Agreement; or use the
                Software to provide, alone or in combination with any other product or service, any product or service
                to any
                person or entity, whether
                on a fee basis or otherwise;
                (d) modify, adapt, tamper with, translate or create Derivative Works of the Software or the
                Documentation;
                combine or merge any part
                of the Software or Documentation with or into any other software or documentation; or refer to or
                otherwise use
                the Software as part
                of any effort to develop software (including any routine, script, code, or program) having any
                functional
                attributes, visual expressions
                or other features similar to those of the Software to compete with McAfee;
                (e) except with McAfee’s prior written permission, publish any performance or benchmark tests or
                analysis
                relating to the Software;
                (f) attempt to do any of activities in Subsections (a) to (e); or
                (g) run or operate the Software in a cloud, Internet-based computing or similar on-demand computing
                environment
                unless Company’s
                Grant Letter or the applicable Product Entitlement Definitions specifically allows the use.
                <br>
                <br>
            </p>
            <h2> 3. TECHNICAL SUPPORT AND MAINTENANCE</h2>
            <p>
                The Technical Support and Maintenance Terms and Conditions, which are incorporated by reference, apply
                if
                Company has purchased Support. After
                the Support Period or service subscription period specified in a Grant Letter has expired, Company has
                no
                further rights to receive any Support including
                Upgrades, Updates and telephone Support. McAfee may change the Support offered at any time, effective as
                of the
                commencement of any Support
                renewal period.
                <br>
                <br>
            </p>
            <h2> 4. TERMINATION</h2>
            <p>
                4.1 Without prejudice to Company’s payment obligations, Company may terminate Company’s license at any
                time by
                uninstalling the Software.
                <br>
                <br>
            </p>
            <div class="button">
                <button mat-raised-button id="agree" matTooltip="You DisAgree" type="submit" id="Disagree">Disagree</button>
                <button mat-raised-button color="primary" matTooltip="You Agree" id="disagree" type="submit" id="agree">I Agree</button>
            </div>
        </div>
    </div>
</body>