.homecontain{
    background-color: rgb(226, 171, 210);
}
.container{
padding-top: 10px;
padding-left: 300px;
}
#hr3{
    text-align: center;
    font-family: georgia;
    font-style: italic;
}
.button{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 1px;
  cursor: pointer;
}
#home{
    background-color: lightsalmon;
}
#about{
    background-color: lightseagreen;
}
#contact{
    background-color: rgb(150, 150, 44);
}
#login{
    background-color: rgb(120, 173, 84);
}