<!DOCTYPE html>
<br>
<h2 style="font-size: 1.0cm; text-align: center; position: relative;">{{title}}</h2>
<br>
<br>
<br>
<body>
  <div class="userList-table">
    <div class="example-cell">
      <button mat-raised-button color="primary" matTooltip="click to add task "  (click)="gridReadyTask($event)">Show-Task</button>
      <mat-form-field>
        <input matInput type="search" value=" " placeholder="search" />
      </mat-form-field>
      <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="openDialog()">Open Dialog</button>
    </div>
    <ag-grid-angular style="width:500px; height:320px ;" 
    id="myGrid" class="ag-theme-alpine"
     [columnDefs]="columnDefs"
      [rowData]="rowData" 
      [rowSelection]="rowSelection" 
      [rowMultiSelectWithClick]="true"
       [defaultColDef]="defaultColDef"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
    <br>
    <br>
    <br>
  </div>
  
<app-task-list-table *ngIf="openTable"></app-task-list-table>
  </body>
  <!-- <div *ngIf= "taskBoard" class="table-container">
    

  </div> -->

<!-- <ag-grid-angular style="width:1000px; height:450px ;"
     id="myGrid1" class="ag-theme-alpine"
      [columnDefs]="columnDefs1"
      [rowData]="rowData1" 
       [rowMultiSelectWithClick]="true"
      [defaultColDef]="defaultColDef">
    </ag-grid-angular> -->
<!-- `<img border="0" width="50" height="50" src=\"{{ params.value }}\">` -->