<div >
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a *ngFor="let route of routes" mat-list-item [routerLink]="route.path" (click)="sidenav.toggle()">
        {{route.path}}</a>
    </mat-nav-list>
    <h4>{{sampleservice.samplenumbers}}</h4>
    
    <h2>{{value}}</h2>
    <button mat-button (click)="sendValue()" >Hit for child</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <mat-toolbar color="primary">
        
        <button mat-icon-button aria-label="Menu" (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>
        
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>

<!-- <input type="checkbox" id="1"
       [ngModel]="filter" (ngModelChange)="onFilterChange($event)"> Checkbox
       <button mat-button color="primary" (click)="onFilterChange($event)">
         click me
       </button> -->